{% extends 'base.html.twig' %}

{% block title %}VirtualLock{% endblock %}

{% block body %}

<div id="body">
  <div class="container">
    <div class="card outroZone">
      <div id="finalTexteZone" class="card-body ">
        {{lock.finalTexte | raw }}
      </div>
   </div>
    <table id="zoneCopyright" style="height: 50px;">
      <tbody>
        <tr>
          <td class="align-middle">©</td>
          <td class="align-middle"><img id="copyrightLogo" class="img-fluid  mx-auto d-block" alt="logo" src="{{ asset('logos/logo-virtualLock_logo-color.png') }}"></img></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
  let grantedPlateforms = ["https://dev.crp.education","https://formation.crp.education","https://production.crp.education","https://diffusion.crp.education"]
  function message(typeOfLink,activityToLink) {
    $(grantedPlateforms).each(function(index,platform){
      window.parent.postMessage(typeOfLink+'='+activityToLink, platform);
    })
  }
  var continuer =$.trim($('#finalTexteZone').text())
  var isMoodle = continuer.split('=')
  if(isMoodle[0] == "moodle" || isMoodle[0] == "moodle-redirection"){
  message(isMoodle[0],isMoodle[1])
  }
</script>
{% endblock %}
