{% extends 'base.html.twig' %}

{% block title %}VirtualLock{% endblock %}

{% block body %}

<div id="body">
  <div class="container">
    <div class="card outroZone">
      <div id="finalTexteZone" class="card-body ">
        {{lock.finalTexte | raw }}
      </div>
   </div>
    <table id="zoneCopyright" style="height: 50px;">
      <tbody>
        <tr>
          <td class="align-middle">©</td>
          <td class="align-middle"><img id="copyrightLogo" class="img-fluid  mx-auto d-block" alt="logo" src="{{ asset('logos/logo-virtualLock_logo-color.png') }}"></img></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
{% block javascripts %}
<script>
  var continuer =$.trim($('#finalTexteZone').text())
  var isMoodle = continuer.split('=')
  if(isMoodle[0] == "moodle"){
    var theDiv = window.parent.document.getElementsByTagName('iframe')
    theDiv = $(theDiv).parent()
    var theName = window.parent.$('.autolink')
    theName.each(function(index,oneName){
      if($(oneName).attr('title') === isMoodle[1]){
        theDiv = $(theDiv).parent()
        theDiv.html("<a href="+$(oneName).attr('href')+"><div class='continuer'>"+isMoodle[1]+"</div></a>")
      }
    })
  }
</script>

{% endblock %}
