{% extends 'base.html.twig' %}

{% block title %}VirtualLock{% endblock %}

{% block body %}

<div id="body">
  <div class="container">
    <div class="card outroZone">
      <div id="finalTexteZone" class="card-body ">
        {{lock.finalTexte | raw }}
      </div>
   </div>
    <table id="zoneCopyright" style="height: 50px;">
      <tbody>
        <tr>
          <td class="align-middle">©</td>
          <td class="align-middle"><img id="copyrightLogo" class="img-fluid  mx-auto d-block" alt="logo" src="{{ asset('logos/logo-virtualLock_logo-color.png') }}"></img></td>
        </tr>
      </tbody>
    </table>
  </div>
<button id="my-btn">Send to parent</button>
</div>
{% endblock %}
{% block javascripts %}
<script>
  function message() {
		window.parent.postMessage('message', "http://localhost");
		console.log("Button clicked in the frame");
	}
  var continuer =$.trim($('#finalTexteZone').text())
  var isMoodle = continuer.split('=')
  if(isMoodle[0] == "moodle"){
    message()
    var theDiv = window.parent.$('iframe').parent()
    // theDiv = $(theDiv).parent()
    var theName = window.parent.$('.autolink')
    theName.each(function(index,oneName){
      if($(oneName).attr('title') === isMoodle[1]){
        theDiv.html("<a href="+$(oneName).attr('href')+"><div class='continuer'>"+isMoodle[1]+"</div></a>")
      }
    })
  }
</script>
<!-- <script>
	document.getElementById('my-btn').addEventListener('click', handleButtonClick, false);
	function handleButtonClick(e) {
		window.parent.postMessage('message', "http://localhost");
		console.log("Button clicked in the frame");
	}
</script> -->

{% endblock %}
