{% extends 'base.html.twig' %}

{% block title %}VirtualLock{% endblock %}

{% block body %}

<div id="body">
  <div id="lockContainer" class="container">
    <div class="card passCard" >
    {% if lock.intro is not empty %}
    <div class="card-header passCardHeader">
      {{lock.intro | raw}}
    </div>
    {% endif %}
    <div class="card-body passCardBody">
    <div id="passZone">
      Entrer code
    </div>

    <div id="digit" class="row justify-content-center ">
      <div class="" id="lock"></div>

    </div>
    <div id="soluceZone"></div>
    </div>
    </div>
    <table id="zoneCopyright" style="height: 50px;">
      <tbody>
        <tr>
          <td class="align-middle">©</td>
          <td class="align-middle"><img id="copyrightLogo" class="img-fluid  mx-auto d-block" alt="logo" src="{{ asset('logos/logo-virtualLock_logo-color.png') }}"></img></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block javascripts %}
  <script >
    var lock= new PatternLock('#lock',{
      lineOnMove:false,
      onDraw:function(data){
        var trying = data.split("");
        send(trying);
   }
    });
    function send(trying){
      var password = trying.join(',');
      $("#message").alert('close');
      var url = "{{ path('testSoluce',{ 'id': lock.id, 'userSoluce':'password'})}}";
      url = url.replace('password',password);
      $.ajax({
        url : url,
        dataType:'html',
        success:function(data){window.location.href = url},
        error:function(){
          $('#soluceZone').append('<div id="message" class="alert alert-danger alert-dismissible fade show" role="alert">'+
          '<strong>Erreur!</strong> Mot de passe incorrect.'+
          '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
            '<span aria-hidden="true">&times;</span></button></div>')
          },
        crossDomain:true
      })
    }

  </script>


{% endblock %}
